.sectionMedicine {
    width: 610px;
    padding-top: 20px;
}

.wrapper {
display: flex;
}

.listMedicine {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.itemMedicine {
    width: 100%;
    padding: 20px 20px;
    box-shadow: 0px 3.4px 3.4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-transform: uppercase;
    color: #43b02a;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img {
    display: block;
    width: 145px;
    height: 160px;
}

.discription {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-left: 20px;
    padding-top: 10px;
}

.subtitle {
    margin-bottom: 40px;
}

.medicineOrder {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnOrder {
    padding: 10px 10px;
    box-shadow: 0px 3.4px 3.4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #effff0;
    color: #43b02a;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnOrder:hover,
.btnOrder:focus {
    background-color: #43b02a;
    color: #ffffff;
}

.input {
    text-align: center;
}

.action {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    margin-left: auto;
}

.totalPrice {
    margin-top: 20px;
    text-align: right;
    text-transform: uppercase;
    font-size: 20px;
    color: #43b02a;
}

.sum {
    color: #000000;
}

.order {
    text-align: center;
    margin-top: 10px;
}