.sectionDrug {
    background-color: #8ee97a;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 20px;
    width: 230px;
}

.title {
    color: #ffffff;
    font-size: 24px;
    text-transform: uppercase;
}

.item {
    padding: 15px 15px;
    width: 210px;
    margin-top: 10px;
    box-shadow: 0px 3.4px 3.4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #ffffff;
    color: #43b02a;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item:hover,
.item:focus {
    background-color: #43b02a;
    color: #ffffff;
}